@import "part"
@import "normalize"
@import "libs"
@import "vars"
@import "fonts"

html
    scroll-behavior: smooth

body
    overflow-x: hidden
    font-weight: 700
    font-family: 'Ubuntu', Helvetica, sans-serif
    text-align: center
    // font-family: 'IBM Plex Mono', monospace

body, html
    width: 100%

a
    color: #1B1414
    transition: all .2s ease

a:hover
    color: #000000
    text-decoration: none

// custom - Begin
.wrapper
    max-width: 1220px
    margin: 0 auto
p
    margin: 0
// custom - End


// 1. first - Begin
.first
    position: relative
    min-height: 100vh
    height: 830px
    background: linear-gradient(0deg,rgba(11, 29, 44, 0.796),rgba(11, 29, 44, 0.796)),url(../img/first_bg.jpg) no-repeat center center
    background-size: cover
    header
        background: #142432
        height: 120px
        position: fixed
        display: block
        top: 0
        right: 0
        left: 0
        z-index: 1000
        padding: 0 20px
        .wrapper
            position: relative
            display: flex
            justify-content: space-around
            align-items: center
            height: inherit
            .item
                color: $white
                font-family: Ubuntu
                font-style: normal
                font-weight: normal
                font-size: 17px
                height: 54px
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                &-brown
                    color: $brown
                    font-size: 15px
                &-white
                    color: $white
                    font-weight: 700
                &_logo
                    width: 150px
                    height: 140px
                    background: $white
                    &-top
                        color: #000
                        position: relative
                        top: 20px
                        width: 100%
                        display: inline-block
                    &-bottom
                        img
                            padding-top: 10px
                            width: 70px
            .item_md
                display: none
            .item_sm
                display: none
    .wrapper
        position: relative
        width: 100%
        height: 100%
        .first_carousel
            position: relative
            top: 50%
            transform: translateY(-50%)
            .first_item
                &-title
                    max-width: 1020px
                    margin: 0 auto
                    position: relative
                    font-family: Proxima Nova
                    font-size: 64px
                    line-height: 78px
                    text-align: center
                    text-transform: uppercase
                    color: #FFFFFF
                    font-weight: 900
                    padding: 0 20px
                    &::before
                        content: ""
                        position: absolute
                        width: 150px
                        height: 8px
                        left: 0
                        right: 0
                        bottom: -32px
                        margin: 0 auto
                        background: #EED2A1
                &-descr
                    font-family: Ubuntu
                    font-style: normal
                    font-weight: normal
                    font-size: 24px
                    line-height: 38px
                    text-align: center
                    color: #FFFFFF
                    margin: 82px auto 0 auto
                    max-width: 400px
                    padding: 0 20px
            .owl-dots
                margin: 0
                position: relative
                top: 130px
                .owl-dot
                    outline: none
                    span
                        width: 20px
                        height: 20px
                        margin: 0 15px
                        background: #505965
                        transition: all .3s ease
                        &:hover
                            background: #fff
                .owl-dot.active
                    span
                        background: #fff 
            .owl-nav
                top: 35%
                right: 0
                left: 0
                content: ""
                position: absolute
                width: 100%
                z-index: 1
            .owl-nav button.owl-prev
                transition: all .3s ease
                outline: none
                position: absolute
                left: -70px
                &:hover
                    background: none
            .owl-nav button.owl-next
                transition: all .3s ease
                outline: none
                position: absolute
                right: -70px
                top: 25%
                &:hover
                    background: none
                &:hover img
                    filter: hue-rotate(180deg)
// 1. first - End
// categories - Begin
.categories
    padding-top: 20px
    .wrapper    
        padding: 0 10px
        .categories_wrapper
            display: flex
            justify-content: space-around
            align-items: center
            .item:last-child
                margin-right: 0
            .item
                margin-top: 40px
                .item_img
                    max-width: 100%
                    width: 220px
                    height: auto
                .item_title
                    font-family: Proxima Nova
                    font-size: 20px
                    line-height: 24px
                    text-align: center
                    text-transform: uppercase
                    color: #142432
                    font-weight: 800
                    margin-top: 16px
// categories - End
// 3. about - Begin
.about
    padding: 100px 0
    .wrapper
        padding: 0 20px
        .about-title
            font-family: Proxima Nova
            font-size: 42px
            line-height: 51px
            text-align: center
            text-transform: uppercase
            color: #142432
            font-weight: 800
            position: relative
            &::before
                content: ""
                position: absolute
                background: #EED2A1
                bottom: -38px
                left: 0
                right: 0
                margin: 0 auto
                width: 150px
                height: 8px
        .about_wrapper
            margin-top: 100px  
            display: flex
            .item
                flex: 1
                &-text
                    font-family: Ubuntu
                    font-style: normal
                    font-weight: normal
                    font-size: 17px
                    line-height: 30px
                    color: #142432
                    text-align: left
                &-text3
                    margin-top: 30px
            .item_left
            .item_right
                margin-left: 30px
// 3. about - End
// 4. categories2 - Begin
.categories2
    padding-bottom: 90px
    .wrapper
        padding: 0 20px
        .categories2-title-sm
            display: none
        .categories2-title
            font-family: Proxima Nova
            font-size: 42px
            line-height: 51px
            text-align: center
            text-transform: uppercase
            color: #142432
            font-weight: 800
            position: relative
            &::before
                content: ""
                position: absolute
                background: #EED2A1
                bottom: -38px
                left: 0
                right: 0
                margin: 0 auto
                width: 150px
                height: 8px
        .categories2_wrapper
            margin-top: 80px
            display: flex
            justify-content: center
            align-items: baseline
            .item
                margin: 20px 15px
                .img-wrapper
                    position: relative
                    img
                        height: auto
                    .img-title
                        content: ""
                        position: absolute
                        bottom: 0
                        right: 0
                        left: 0
                        height: 50px
                        background: #142432
                        opacity: 0.8
                        color: #fff
                        line-height: 50px
                        text-align: left
                        padding-left: 16px
                        font-family: Proxima Nova
                        font-size: 20px
                        text-transform: uppercase
                        color: #FFFFFF
                .item-text
                    font-family: Ubuntu
                    font-style: normal
                    font-weight: normal
                    font-size: 17px
                    line-height: 30px
                    color: #142432
                    text-align: left
                    margin-top: 20px
// 4. categories2 - End
// 3. details - Begin
.details
    padding: 100px 0
    background: #F2F2F2
    .wrapper
        padding: 0 20px
        .details-title-sm
            display: none
            font-family: Proxima Nova
            font-size: 42px
            line-height: 51px
            text-align: center
            text-transform: uppercase
            color: #142432
            font-weight: 800
            position: relative
            &::before
                content: ""
                position: absolute
                background: #EED2A1
                bottom: -38px
                left: 0
                right: 0
                margin: 0 auto
                width: 150px
                height: 8px
        .details-title
            font-family: Proxima Nova
            font-size: 42px
            line-height: 51px
            text-align: center
            text-transform: uppercase
            color: #142432
            font-weight: 800
            position: relative
            margin-bottom: 100px
            &::before
                content: ""
                position: absolute
                background: #EED2A1
                bottom: -38px
                left: 0
                right: 0
                margin: 0 auto
                width: 150px
                height: 8px
    .details_wrapper
        position: relative
        max-width: 1220px
        margin: 0 auto
        .details_carousel
            position: relative
            top: 50%
            margin-top: 40px
            .item
                .item_img
                    max-width: 100%
                    width: 280px
                    height: auto
                .item_info
                    background: #fff
                    padding-left: 25px
                    &-title
                        font-family: Proxima Nova
                        font-size: 20px
                        line-height: 24px
                        text-align: center
                        text-transform: uppercase
                        color: #142432
                        font-weight: 700
                        padding-top: 24px
                        text-align: left
                    &-descr
                        font-family: Proxima Nova
                        font-size: 17px
                        line-height: 24px
                        text-align: center
                        text-transform: uppercase
                        color: #142432
                        font-weight: 400
                        margin-top: 16px
                        text-align: left
                        padding-bottom: 22px
            .owl-dots
                margin: 0
                position: relative
                top: 50px
                .owl-dot
                    outline: none
                    span
                        width: 20px
                        height: 20px
                        margin: 0 15px
                        background: #505965
                        transition: all .3s ease
                        &:hover
                            background: #EED2A1
                .owl-dot.active
                    span
                        background: #EED2A1 
            .owl-nav
                top: 35%
                right: 0
                left: 0
                content: ""
                position: absolute
                width: 100%
                z-index: 1
            .owl-nav button.owl-prev
                transition: all .3s ease
                outline: none
                position: absolute
                left: -100px
                &:hover
                    background: none
            .owl-nav button.owl-next
                transition: all .3s ease
                outline: none
                position: absolute
                right: -100px
                top: 25%
                &:hover
                    background: none
// 3. details - End
// 4. diagnostic - Begin
.diagnostic
    padding: 100px 0
    .wrapper
        padding: 0 20px
        .diagnostic-title
            margin: 0 auto
            max-width: 700px
            font-family: Proxima Nova
            font-size: 42px
            line-height: 51px
            text-align: center
            text-transform: uppercase
            color: #142432
            font-weight: 800
            position: relative
            &::before
                content: ""
                position: absolute
                background: #EED2A1
                bottom: -38px
                left: 0
                right: 0
                margin: 0 auto
                width: 150px
                height: 8px
        .diagnostic_wrapper
            margin-top: 100px  
            .group
                height: 60px
                background: #F2F2F2
                text-align: left
                margin: 10px 0
                padding-left: 10px
                label
                    font-family: Ubuntu
                    font-style: normal
                    font-weight: normal
                    font-size: 17px
                    line-height: 60px
                    color: #142432
                    cursor: pointer
                input[type="checkbox"]
                    display: none
                    &:checked + label::before
                        content: url(../img/checked.png)
                        background: #EED2A1
                label
                    padding-left: 20px
                    &::before
                        transition: all .3s ease
                        position: relative
                        content: url(../img/checked.png)
                        left: -10px
                        padding: 2px 4px
                        background: #ffffff
                        border: 1px solid #C4C4C4
            .showMore
                font-family: Ubuntu
                font-style: normal
                font-weight: normal
                font-size: 17px
                line-height: 20px
                text-align: center
                color: #EED2A1
                position: relative
                display: inline-block
                transition: all .3s ease
                &::before
                    content: url(../img/arrow_down.png)
                    position: absolute
                    left: -24px
                &:hover
                    cursor: pointer
                    color: #dfac53
        .showMoreTarget
            display: none
        .showMoreTarget.active
            display: block
// 4. diagnostic - End
// 5. price - Begin
.price
    padding: 100px 0
    .wrapper
        padding: 0 20px
        .price-title
            font-family: Proxima Nova
            font-size: 42px
            line-height: 51px
            text-align: center
            text-transform: uppercase
            color: #142432
            font-weight: 800
            position: relative
            &::before
                content: ""
                position: absolute
                background: #EED2A1
                bottom: -38px
                left: 0
                right: 0
                margin: 0 auto
                width: 150px
                height: 8px
        .price_wrapper
            margin-top: 100px  
            display: flex
            flex-direction: column
            .thead
                display: flex
                background: #f2f2f2
                border-bottom: 1px solid #BDBDBD
                p
                    height: 50px
                    text-align: left
                    flex: 1
                    font-family: Ubuntu
                    font-style: normal
                    font-weight: bold
                    font-size: 20px
                    line-height: 50px
                    color: #142432
                    padding-left: 20px
            .tr
                display: flex
                border-bottom: 1px solid #F2F2F2
                p
                    text-align: left
                    flex: 1
                    font-family: Ubuntu
                    font-style: normal
                    font-weight: normal
                    font-size: 17px
                    line-height: 50px
                    color: #142432
                    padding-left: 20px
// 5. price - End
// 5. price2 - Begin
.price2
    padding: 100px 0
    .wrapper
        padding: 0 20px
        .price2-title
            font-family: Proxima Nova
            font-size: 42px
            line-height: 51px
            text-align: center
            text-transform: uppercase
            color: #142432
            font-weight: 800
            position: relative
            &::before
                content: ""
                position: absolute
                background: #EED2A1
                bottom: -38px
                left: 0
                right: 0
                margin: 0 auto
                width: 150px
                height: 8px
        .price2_wrapper
            margin-top: 100px  
            display: flex
            flex-direction: column
            .thead
                display: flex
                background: #f2f2f2
                border-bottom: 1px solid #BDBDBD
                p
                    height: 50px
                    text-align: left
                    flex: 1
                    font-family: Ubuntu
                    font-style: normal
                    font-weight: bold
                    font-size: 20px
                    line-height: 50px
                    color: #142432
                    padding-left: 20px
            .tr
                display: flex
                border-bottom: 1px solid #F2F2F2
                p
                    text-align: left
                    flex: 1
                    font-family: Ubuntu
                    font-style: normal
                    font-weight: normal
                    font-size: 17px
                    line-height: 50px
                    color: #142432
                    padding-left: 20px
// 5. price2 - End
// 7. footer - Begin
footer
    .footer_wrapper
        .item
            min-height: 600px
            &_left
                display: inline-block
                width: 50%
                height: 600px
                margin: 0
                margin-right: -4px
            &_right
                display: inline-block
                width: 50%
                height: 600px
                margin: 0
                background: linear-gradient(0deg,rgba(11, 29, 44, 0.9),rgba(11, 29, 44, 0.9)),url(../img/first_bg.jpg) no-repeat center center
                background-size: cover
                position: relative
                .item_logo
                    content: ""
                    position: absolute
                    left: 70px
                    width: 150px
                    height: 140px
                    background: $brown
                    &-top
                        color: #000
                        position: relative
                        top: 20px
                        width: 100%
                        display: inline-block
                    &-bottom
                        img
                            padding-top: 10px
                            width: 70px
                .contacts
                    content: ""
                    position: absolute
                    max-width: 520px
                    top: 50%
                    height: 200px
                    left: 74px
                    transform: translateY(-50%)
                    display: flex
                    flex-wrap: wrap
                    .contacts_item
                        text-align: left
                        width: 50%
                        color: $white
                        font-family: Ubuntu
                        font-style: normal
                        font-weight: normal
                        font-size: 17px
                        &-brown
                            color: $brown
                            font-size: 15px
                        &-white
                            color: $white
                            font-weight: 700
                .info
                    content: ""
                    position: absolute
                    bottom: 50px
                    left: 74px
                    font-family: Ubuntu
                    font-style: normal
                    font-weight: normal
                    font-size: 15px
                    width: 60%
                    text-align: left
                    line-height: 17px
                    color: #828282
// 7. footer - End

@import "media"